[build]
builder = "NIXPACKS"

[deploy]
startCommand = "npm run db:generate && npm run start"
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
